.aboutMe {
	height: 100vh;
}
.aboutMe h2 {
	color: var(--main-color-darker);
}
.aboutMe h2::before {
	background-color: var(--main-color-darker);
}
.container {
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.animation {
	position: relative;
	width: 270px;
	height: 200px;
	overflow: hidden;
	border-radius: 15px;
}
