.skills {
	position: relative;
	background-color: #dedede;
	background-color: var(--main-color);
	overflow: hidden;
	padding: 7rem 0;
	z-index: 0;
}
.skills h2 {
	color: #fff;
}
.skills h2::before {
	background-color: #fff;
}
.container {
	margin-top: 5rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.avatar p {
	position: relative;
	margin-top: 3em;
	text-align: center;
	padding: 0 2em;
	color: var(--text-color);
	font-size: 1.6rem;
}
.avatar svg {
	position: absolute;
	width: 15px;
	height: 15px;
}
.quoteLeft {
	bottom: -15px;
	left: 35px;
}
.quoteRight {
	top: -15px;
	right: 25px;
}

.avatar span {
	color: var(--main-cta);
}
.button {
	width: 210px;
	display: flex;
	justify-content: center;
	margin: 4rem auto 0 auto;
}

.decoration {
	position: absolute;
	color: var(--main-color);
	opacity: 0.8;
	color: var(--decoration-icon);
}

.reactIcon {
	width: 700px;
	height: 700px;
	bottom: -10rem;
	right: -20rem;
	animation: rotateRight 30s linear infinite;
	z-index: -1;
	opacity: 0.2;
}
.nextIcon {
	width: 100px;
	height: 100px;
	top: 0;
	left: 2rem;

	opacity: 0.3;
	animation: rotateLeft 20s linear infinite;
}
@keyframes rotateRight {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes rotateLeft {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(-360deg);
	}
}

@media (min-width: 400px) {
	.avatar p {
		display: block;
		max-width: 400px;
		font-size: 1.7rem;
	}
}
@media (min-width: 576px) {
	.avatar p {
		display: block;
		max-width: 450px;
		font-size: 1.8rem;
	}
}

@media (min-width: 992px) {
	.container {
		flex-direction: row;
		justify-content: space-around;
	}
	.reactIcon {
		width: 1000px;
		height: 1000px;
		bottom: 0;
		right: 0;
		animation-duration: 60s;
	}
	.avatar p {
		max-width: 500px;
		font-size: 2rem;
	}
}
