.skills {
	position: relative;
	background-color: var(--main-color);
	background-color: #dedede;

	padding: 7rem 0;
}
.skills h2 {
	color: #fff;
	color: var(--main-color);
}
.skills h2::before {
	background-color: #fff;
	background-color: var(--main-color);
}
.container {
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}


.button {
	width: 210px;
	display: flex;
	justify-content: center;
	margin: 4rem auto 0 auto;
}

.decoration {
	position: absolute;
	color: var(--main-color);
	opacity: 0.8;
}
.reactIcon {
	width: 90px;
	height: 90px;
	bottom: 5%;
	right: 10%;
	animation: rotateRight 30s linear infinite;
}
.nextIcon {
	width: 60px;
	height: 60px;
	top: 15%;
	left: 10%;
	animation: rotateLeft 30s linear infinite;
}
@keyframes rotateRight {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes rotateLeft {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(-360deg);
	}
}

@media (min-width: 992px) {
	.container {
		flex-direction: row;
		justify-content: space-around;
	}
}
