.avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.avatar p {
	position: relative;
	margin-top: 3em;
	text-align: justify;
	padding: 0 2em;
	color: var(--text-color);
	font-size: 1.6rem;
	z-index: 1;
}
.avatar svg {
	position: absolute;
	width: 15px;
	height: 15px;
}
.avatar span {
	color: var(--main-cta);
}
.quoteLeft {
	bottom: -15px;
	left: 10px;
}
.quoteRight {
	top: -15px;
	right: 10px;
}

@media (min-width: 400px) {
	.avatar p {
		display: block;
		max-width: 400px;
		font-size: 1.7rem;
	}
}
@media (min-width: 576px) {
	.avatar p {
		display: block;
		max-width: 450px;
		font-size: 1.8rem;
	}
}

@media (min-width: 992px) {
	.avatar p {
		max-width: 500px;
		font-size: 2rem;
	}
	.avatar svg {
		width: 18px;
		height: 18px;
	}
}
