.heading {
	color: var(--main-cta);
}
.text {
	text-align: justify;
	width: 300px;
}

.text p {
	margin-top: 1.5em;
	color: #fff;
	font-size: 1.4rem;
}

@media (min-width: 400px) {
	.text p {
		font-size: 1.6rem;
	}
}
@media (min-width: 576px) {
	.text p {
		font-size: 1.8rem;
	}
}
@media (min-width: 768px) {
	.text {
		width: 400px;
	}
	.text p {
		font-size: 2rem;
	}
}
@media (min-width: 992px) {
	.text {
		width: 400px;
	}
	.text p {
		font-size: 2.2rem;
	}
}
@media (min-width: 1200px) {
	.text p {
		font-size: 2.4rem;
	}
}
