@use '../../../src/styles/queries.scss' as *;
.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}
.blob {
	width: 250px;
	height: 250px;
}
.block {
	bottom: 0;
	left: -20%;
	background-color: var(--main-color);
}
.scroll {
	margin: 0;
}
.container {
	margin-top: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
}

@media (min-width: $s) {
	.blob {
		width: 300px;
		height: 300px;
	}
}
@media (min-width: $l) {
	.blob {
		width: 350px;
		height: 350px;
	}
	.hero {
		justify-content: center;
	}
	.container {
		flex-direction: row;
		gap: 10rem;
	}
}
@media (min-width: $xl) {
	.blob {
		width: 400px;
		height: 400px;
	}
	.container {
		gap: 15rem;
	}
}

@media (min-width: $xxl) {
	.container {
		gap: 20rem;
	}
	.scroll {
		margin-top: 3rem;
	}
}
