.hero {
	height: 90vh;
	margin-top: 10vh;
	justify-content: flex-start;
	gap: 5rem;
}
.blob {
	width: 250px;
	height: 250px;
}
.block {
	bottom: 0;
	left: -20%;
	background-color: var(--main-color);
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
}

@media (min-width: 576px) {
	.blob {
		width: 300px;
		height: 300px;
	}
}
@media (min-width: 992px) {
	.blob {
		width: 350px;
		height: 350px;
	}
	.hero {
		justify-content: center;
	}
	.container {
		flex-direction: row;
		gap: 10rem;
	}
}
@media (min-width: 1200px) {
	.blob {
		width: 400px;
		height: 400px;
	}
	.container {
		gap: 15rem;
	}
}
