.footer {
	position: relative;
	min-height: 10vh;
	background-color: var(--main-color-darker);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em 0;
}
.footer nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2em;
}
.btn {
	background-color: var(--main-color);
	padding: 0.8em;
	color: var(--nav-link);
	border-radius: 5px;
	border: 1px solid var(--main-color-darker);
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
	transition: background-color 0.2s;
}
.btn:hover {
	background-color: var(--main-color-lighter);
}

.paragraph {
	margin-top: 1em;
	font-size: 1.6rem;
	color: var(--nav-link);
}

.block {
	top: -30px;
	left: -20%;
	height: 30px;
	background-color: var(--main-color-darker);
}
@media (min-width: 400px) {
	.btn {
		font-size: 1.4rem;
	}
	.paragraph {
		font-size: 1.8rem;
	}
}
@media (min-width: 768px) {
	.btn {
		font-size: 1.6rem;
	}
	.paragraph {
		font-size: 2rem;
	}
}
