.box {
	margin-top: 2em;
	color: #fff;
}
.box p {
	margin: 2em 0;
	font-size: 1.2rem;
}

@media (min-width: 400px) {
	.box p {
		font-size: 1.5rem;
	}
}

@media (min-width: 576px) {
	.box {
		max-width: 500px;
	}
	.box p {
		font-size: 1.8rem;
	}
}
@media (min-width: 768px) {
	.box p {
		font-size: 1.8rem;
	}
}
@media (min-width: 992px) {
	.box p {
		font-size: 1.9rem;
	}
}
