.footer {
	position: relative;
	min-height: 10vh;
	background-color: var(--main-color-darker);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1em;
}
.footer nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2em;
}
.footer a {
	text-decoration: none;
	font-size: 1.4rem;
	color: #fff;
}
.paragraph {
	margin-top: 1em;
	font-size: 1.6rem;
	color: #fff;
	color: var(--main-cta);
}

.block {
	top: -30px;
	left: -20%;
	height: 30px;
	background-color: var(--main-color-darker);
}
