.block {
	position: absolute;
	height: 40px;
	width: 50%;
}
.left {
	transform: skew(45deg);
}
.right {
	transform: skew(-45deg);
}
.footer {
	bottom: 0;
	left: -20%;
	background-color: var(--black);
}
