@use '../../../src/styles/queries.scss' as *;

.heading {
	text-align: center;
	font-size: 3rem;
	color: var(--text-color);
	z-index: 2;
}

@media (min-width:$s) {
	.heading {
		font-size: 3.5rem;
	}
}
@media (min-width: $l) {
	.heading {
		font-size: 5rem;
	}
}
