.projects {
	position: relative;
	height: 50vh;
	background-color: var(--main-color-lighter);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text-color);
	font-size: 2rem;
	overflow: hidden;
}

.block {
	top: -40px;
	right: -20%;
	background-color: var(--main-color-lighter);
}
