@use '../../../src/styles/queries.scss' as *;
.projects {
	position: relative;
	background-color: var(--main-color);
	overflow: hidden;
	span {
		color: var(--main-cta);
	}
	p {
		text-align: center;
		font-size: 1.4rem;
		color: var(--text-color);
		padding: 1.5em;
		max-width: 350px;
	}
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1em 0;
}
.block {
	background-color: var(--main-color);
	top: -30px;
	left: -20%;
}
.blockBottom {
	background-color: var(--main-color-darker);
	bottom: 0;
	right: -20%;
}

@media (min-width: $xs) {
	.projects {
		p {
			font-size: 1.6rem;
			max-width: 400px;
		}
	}
}
@media (min-width: $l) {
	.projects {
		p {
			font-size: 1.8rem;
			max-width: 450px;
		}
	}
}
