.box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
	margin: 2rem 0;
}
@media (min-width: 576px) {
	.box {
		gap: 7rem;
		margin: 5rem 0;
		flex-flow: row wrap;
	}
}
