@use '../../../src/styles/queries.scss' as *;
.projects {
	background-color: var(--main-color);
	z-index: 0;
	span {
		color: var(--main-cta);
	}
	p {
		text-align: center;
		font-size: 1.4rem;
		color: var(--text-color);
		padding: 1.5em;
		max-width: 350px;
	}
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1em 0;
}
.block {
	background-color: var(--main-color);
	top: -30px;
	left: -20%;
}
.blockBottom {
	background-color: var(--main-color-darker);
	bottom: 0;
	right: -20%;
}
.icon {
	position: absolute;
	color: var(--text-color);
	z-index: -1;
	font-size: 10rem;
	opacity: 0.2;
}
.iconFirst {
	top: 2%;
	left: 10%;
	animation: rotateRight 30s infinite linear forwards;
}
.iconSecond {
	bottom: 5%;
	right: 0;
	animation: rotateLeft 30s infinite linear forwards;
}
@keyframes rotateRight {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes rotateLeft {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(-360deg);
	}
}
@media (min-width: $xs) {
	.projects {
		p {
			font-size: 1.6rem;
			max-width: 400px;
		}
	}
}
@media (min-width: $l) {
	.projects {
		p {
			font-size: 1.8rem;
			max-width: 450px;
		}
	}
	.icon {
		font-size: 15rem;
	}
	.iconFirst {
		top: 10%;
		left: 10%;
	}
	.iconSecond {
		bottom: 20%;
		right: 10%;
	}
}
