.projects {
	position: relative;
	background-color: var(--main-color);
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.block {
	background-color: var(--main-color);
	top: -30px;
	left: -20%;
}
.projects span {
	color: var(--main-cta);
}
.projects p {
	text-align: center;
	font-size: 1.4rem;
	color: var(--text-color);
	padding: 1.5em;
	max-width: 350px;
}

@media (min-width: 400px) {
	.projects p {
		font-size: 1.6rem;
		max-width: 400px;
	}
}
@media (min-width: 992px) {
	.projects p {
		font-size: 1.8rem;
		max-width: 450px;
	}
}
