@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}
:root {
	--main-white: #fff;
	--main-cta: #ff4900;
	--nav-link: #fff;
	--decoration-icon: #fff;
	--text-color: #fff;
	--text-color-darker: #ddd;
	--footer-icon: #00222c;
	--footer-icon-bg: #fff;
	--footer-icon-hover: #d5d3d3;
	--footer-icon-hover: #d5d3d3;
	--nav-link-hover: rgba(255, 255, 255, 0.2);
	--main-color: #031d25;
	--main-color-darker: #000b0e;
	--main-color-lighter: #012d3b;
	--decoration-color: #01090b;
	--pros-color: #01161b;
	--pros-shadow: rgba(255, 255, 255, 0.27) 0px 0px 0.25em,
		rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
	--modal-color: #fff;
}
[data-theme='light'] {
	--main-color: #fff;
	--main-color-darker: #e0e2e2;
	--main-color-lighter: #014c63;
	--nav-link: #00222c;
	--decoration-icon: #000;
	--text-color: #010b0f;
	--text-color-darker: #1f0101;
	--nav-link-hover: rgba(0, 0, 0, 0.3);
	--decoration-color: #b0bcbc;
	--pros-color: #c4d3d3;
	--pros-shadow: rgba(0, 0, 0, 0.27) 0px 0px 0.25em,
		rgba(0, 0, 0, 0.05) 0px 0.25em 1em;
	--modal-color: #333232;
}
html {
	font-size: 62.5%;
	scrollbar-width: thin;
	scrollbar-color: var(--main-color-darker), var(--main-color);
}
html::-webkit-scrollbar {
	width: 0.5vw;
}
html::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 100vw;
}
html::-webkit-scrollbar-thumb:hover {
	background-color: var(--main-cta);
}
html::-webkit-scrollbar-track {
	background: var(--main-color);
}
html::-webkit-scrollbar-track:hover {
	background-color: var(--main-color-darker);
}
body {
	font-family: 'Lato', sans-serif;
	background-color: var(--main-color);
}
section {
	padding: 3em 0;
}
a {
	text-decoration: none;
}
