.btn {
	position: relative;
	background-color: var(--main-cta);
	border-radius: 25px;
	padding: 0.5em 1em;
	font-size: 1.6rem;
	color: var(--main-white);
	overflow: hidden;
	margin: 0 0.2em;
	cursor: pointer;
	border: none;
	z-index: 2;
}
.btn::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	width: 100px;
	background-image: linear-gradient(
		-90deg,
		rgba(255, 255, 255, 0.3),
		rgba(255, 255, 255, 0)
	);
	transform: rotate(20deg);
	transform: translateX(-120%);
	transition: transform 0.3s;
}
.btn:hover::before {
	transform: translateX(150%);
}
@media (min-width: 400px) {
	.btn {
		font-size: 2rem;
	}
}
@media (min-width: 992px) {
	.btn {
		font-size: 2.4rem;
	}
}
