.modal {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	z-index: 20;
	width: 30rem;
	height: 7rem;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
	gap: 1em;
	background-color: var(--modal-color);
	color: var(--main-color);
	z-index: 110;
	svg {
		width: 30px;
		height: 30px;
	}
}

@media (min-width: 992px) {
	.modal {
		font-size: 1.2rem;
	}
}
