.box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 5em;
	border-radius: 20px;
}
.heading {
	font-size: 4rem;
	color: #fff;
}
