.link {
	background-color: var(--main-cta);
	border-radius: 5px;
	padding: 0.5em 1em;
	font-size: 1.6rem;
	color: var(--main-white);
}

@media (min-width: 400px) {
	.link {
		font-size: 2rem;
	}
}
@media (min-width: 992px) {
	.link {
		font-size: 2.5rem;
	}
}
