.heading {
	text-align: center;
	font-size: 3rem;
	color: var(--text-color);
}

@media (min-width: 576px) {
	.heading {
		font-size: 3.5rem;
	}
}
@media (min-width: 992px) {
	.heading {
		font-size: 5rem;
	}
}
