@use '../../../src/styles/queries.scss' as *;
.hero {
	height: 105vh;
	width: 100%;
	z-index: 0;
	justify-content: flex-start;
}

.container {
	margin-top: 10vh;
}

.block {
	background-color: var(--main-color);
	bottom: 0;
	left: -10%;
}

.blob {
	width: 300px;
	height: 300px;
}

@media (max-width: $s) {
	.hero {
		background-size: auto;
		background-position: -200px 0;
	}
}
@media (min-width: $s) {
	.blob {
		width: 400px;
		height: 400px;
	}
}
@media (min-width: $l) {
	.hero {
		justify-content: center;
	}

	.container {
		margin-top: -3rem;
		display: flex;
		flex-direction: row-reverse;
		gap: 10rem;
	}
}
@media (min-width: $xl) {
	.container {
		gap: 16rem;
	}
	.blob {
		width: 450px;
		height: 450px;
	}
}
