@use '../../../src/styles/queries.scss' as *;
.card {
	position: relative;
	margin: 0.5em 0;
	border-radius: 50px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	perspective: 800px;
	transition: transform 1s;
}
.box {
	&:hover {
		.text {
			transform: rotateY(180);
			opacity: 1;
		}
		.card {
			transform: rotateY(-180deg);
		}
	}
}
.text {
	&:hover {
		transform: rotateY(180);
		opacity: 1;
		.card {
			transform: rotate(-180deg);
		}
	}
}

.image {
	width: 225px;
	height: 360px;
	position: relative;
	img {
		object-fit: cover;
	}
}

.text {
	padding: 2em 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--main-color-darker);
	text-align: center;
	color: var(--text-color);
	opacity: 0;
	transform: rotateY(-180deg);
	transition: transform 1s, opacity 1s;
	h3 {
		font-size: 2rem;
	}
	p {
		font-size: 1.8rem;
		margin-top: 1em;
	}
	ul {
		margin-top: 2em;
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
		gap: 1em;
		li {
			padding: 1em;
			font-size: 1rem;
			background-color: var(--main-color);
			border-radius: 15px;
		}
	}
}
.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1em;
	width: 75%;
	button {
		font-size: 1.4rem;
		width: 100%;
		border-radius: 5px;
	}
	a {
		font-size: 1.4rem;
		width: 100%;
		border-radius: 5px;
	}
}
@media (min-width: $s) {
	.box {
		display: flex;
		gap: 7rem;
		margin: 5rem 0;
	}
	.image {
		height: 400px;
		width: 250px;
	}
	.text {
		ul {
			li {
				font-size: 1.2rem;
			}
		}
	}
	.buttons {
		button {
			font-size: 1.6rem;
		}
		a {
			font-size: 1.6rem;
		}
	}
}
@media (min-width: $xxl) {
	.image {
		height: 500px;
		width: 312px;
	}
	.text {
		h3 {
			font-size: 2.4rem;
		}
		p {
			font-size: 2rem;
		}
		ul {
			li {
				font-size: 1.7rem;
			}
		}
	}
	.buttons {
		button {
			font-size: 2rem;
		}
		a {
			font-size: 2rem;
		}
	}
}
