@use '../../src/styles/queries.scss' as *;

.contact {
	position: relative;
	background-color: var(--main-color-darker);
	color: var(--text-color);
	overflow: hidden;
	z-index: 1;
	svg {
		position: absolute;
		z-index: -1;
		color: var(--text-color);
	}
}

.blob {
	width: 200px;
	height: 200px;
}
.box {
	padding: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
	z-index: 1;
}
.text {
	z-index: 1;
	text-align: center;
	p {
		max-width: 300px;
		font-size: 1.4rem;
		margin-bottom: 2em;
		border-radius: 20px;
		background-color: rgba(0, 0, 0, 0.4);
		padding: 1em;
	}
}

@media (min-width: $xs) {
	.text {
		P {
			font-size: 1.6rem;
		}
	}
}
@media (min-width: $s) {
	.text {
		P {
			font-size: 1.8rem;
		}
	}
	.blob {
		align-self: flex-start;
		width: 250px;
		height: 250px;
	}
	.box {
		flex-direction: row;
		gap: 4rem;
	}
}
@media (min-width: $l) {
	.text {
		p {
			font-size: 2rem;
			max-width: 400px;
		}
	}
	.blob {
		width: 300px;
		height: 300px;
	}
	.box {
		flex-direction: row;
		gap: 15rem;
	}
}
@media (min-width: $xl) {
	.text {
		p {
			font-size: 2.2rem;
			max-width: 450px;
		}
	}
	.blob {
		width: 350px;
		height: 350px;
	}
}
