.contact {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-size: 2rem;
	color: var(--nav-link);
	padding: 0 1em;

	gap: 1.5rem;
	background-image: url('/assets/heroBg.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
}
.shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: -1;
}
.contact h1 {
	text-align: center;
	font-size: 2.6rem;
	font-weight: bold;
	color: var(--main-cta);
}
.blob {
	margin-top: 0.5em;
	width: 200px !important;
	height: 200px !important ;
}

@media (min-width: 400px) {
	.blob {
		width: 250px !important ;
		height: 250px !important ;
	}
}
@media (min-width: 576px) {
	.blob {
		width: 300px !important  ;
		height: 300px !important ;
	}
	.contact h1 {
		font-size: 3rem;
	}
}
@media (min-width: 768px) {
	.blob {
		width: 300px !important  ;
		height: 300px !important ;
	}
}
@media (min-width: 992px) {
	.blob {
		width: 350px !important ;
		height: 350px !important ;
	}
	.shadow {
		background-color: rgba(0, 0, 0, 0.9);
	}
}
@media (min-width: 1200px) {
	.contact {
		gap: 4rem;
	}
	.contact h1 {
		font-size: 5rem;
	}
	.blob {
		width: 400px !important ;
		height: 400px !important ;
	}
}
@media (min-width: 1400px) {
	.contact {
		gap: 6rem;
	}
}
