.contact {
	height: 100vh;
	font-size: 2rem;
	color: var(--nav-link);
	padding: 0 1em;
	gap: 1.5rem;
}

.contact h1 {
	text-align: center;
	font-size: 2.6rem;
	font-weight: bold;
	color: var(--main-cta);
}
.blob {
	margin-top: 0.5em;
	width: 200px;
	height: 200px;
}

@media (min-width: 400px) {
	.blob {
		width: 250px;
		height: 250px;
	}
}
@media (min-width: 576px) {
	.blob {
		width: 300px;
		height: 300px;
	}
	.contact h1 {
		font-size: 3rem;
	}
}
@media (min-width: 768px) {
	.blob {
		width: 300px;
		height: 300px;
	}
}
@media (min-width: 992px) {
	.blob {
		width: 350px;
		height: 350px;
	}
}
@media (min-width: 1200px) {
	.contact {
		gap: 4rem;
	}
	.contact h1 {
		font-size: 5rem;
	}
	.blob {
		width: 400px;
		height: 400px;
	}
}
@media (min-width: 1400px) {
	.contact {
		gap: 6rem;
	}
}
