.box {
	margin-top: 4rem;
	color: #fff;
	text-align: left;
	max-width: 300px;
}
.box h3 {
	font-size: 2rem;
	color: var(--main-cta);
}
.tech {
	list-style-type: none;
	color: #fff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin: 1.5em 0;
}
.tech li {
	position: relative;
	transition: color 0.3s;
}
.tech li svg {
	font-size: 3rem;
	margin: 0.3em 0.3em;
}
.iconText {
	position: absolute;
	top: -2.5rem;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
	background-color: var(--main-cta);
	color: #000;
	padding: 0.5em;
	font-size: 1.2rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
}
.iconText::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	border-width: 5px;
	margin-left: -5px;
	border-style: solid;
	border-color: var(--main-cta) transparent transparent transparent;
}
.tech li:hover .iconText {
	opacity: 1;
	visibility: visible;
}
.tech li:hover {
	color: var(--main-cta);
}

.traits {
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-items: center;
	flex-wrap: wrap;
}
.traits li {
	border: 2px solid #fff;
	border-radius: 10px;
	margin: 1em;
	padding: 1em;
	transition: color 0.3s, background-color 0.3s;
}
.traits li:hover {
	color: #000;
	background-color: #fff;
}

@media (min-width: 400px) {
	.box {
		max-width: 380px;
	}
	.tech li svg {
		font-size: 3.2rem;
	}
	.traits li {
		font-size: 1.2rem;
	}
	.iconText {
		font-size: 1.4rem;
		top: -3rem;
	}
}

@media (min-width: 576px) {
	.box {
		max-width: 500px;
	}
	.tech li svg {
		font-size: 3.4rem;
	}
}
@media (min-width: 768px) {
	.box {
		max-width: 600px;
	}
	.tech li svg {
		font-size: 3.8rem;
	}
	.traits li {
		font-size: 1.4rem;
	}
	.iconText {
		font-size: 1.6rem;
	}
}
@media (min-width: 1200px) {
	.tech li svg {
		font-size: 4rem;
	}
	.iconText {
		font-size: 1.7rem;
		top: -3.2rem;
	}
}
