.decoration {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--decoration-color);
	text-align: center;
	padding: 15em 0;
	overflow: hidden;
}

.block {
	bottom: 0;
	background-color: var(--main-color);
	left: -20%;
}

@media (min-width: 1200px) {
	.decoration {
		padding-top: 5em;
		padding-bottom: 10em;
	}
}
@keyframes floating {
	0% {
		transform: translateY(0) rotate(0);
	}
	50% {
		transform: translateY(5px) rotate(-5deg);
	}
	100% {
		transform: translateY(0) rotate(0);
	}
}
