.decoration {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--decoration-color);
	text-align: center;
	padding: 8em 0;
	overflow: hidden;
}

.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.block {
	background-color: var(--main-color);
	left: -20%;
	width: 85%;
	top: 0;
	transform: skew(-45deg);
	z-index: 0;
}

@media (min-width: 768px) {
	.box {
		flex-direction: row;
	}
}
@media (min-width: 1200px) {
	.box {
		gap: 6rem;
	}
}
