@use '../../../src/styles/queries.scss' as *;
.decoration {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--decoration-color);
	text-align: center;
	padding: 15em 0;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 9rem;
}
.icon {
	position: absolute;
	width: 200px;
	height: 200px;
	color: var(--main-color);
	z-index: 0;
}
.iconFirst {
	right: 0%;
	bottom: 0;
}
.iconSecond {
	left: 0;
	top: 0;
}
.block {
	bottom: 0;
	left: -20%;
	background-color: var(--main-color);
}

@keyframes floating {
	0% {
		transform: translateY(0) rotate(0);
	}
	50% {
		transform: translateY(5px) rotate(-5deg);
	}
	100% {
		transform: translateY(0) rotate(0);
	}
}
@media (min-width: $m) {
	.box {
		flex-flow: row wrap;
	}
}
@media (min-width: $xl) {
	.decoration {
		padding-top: 6em;
		padding-bottom: 14em;
	}
	.box {
		gap: 5rem;
	}
}
@media (min-width: $xxl) {
	.box {
		gap: 10rem;
	}
}
