.box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 9rem;
}
.pros {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	text-align: center;
	width: 250px;
	min-height: 200px;
	padding: 2em;
	background-color: var(--pros-color);
	color: var(--text-color);
	border-radius: 5px;
	z-index: 0;
}
.pros h2 {
	font-size: 2.6rem;
	padding: 0.2em 0;
}
.pros p {
	font-size: 1.6rem;
	font-weight: 200;
}
.pros svg {
	color: #fff;
	position: absolute;
	bottom: -70px;
	left: -15px;
	height: 100px;
	width: 102px;

	z-index: -1;
}

@media (min-width: 576px) {
	.pros {
		width: 350px;
	}
	.pros h2 {
		font-size: 3rem;
	}
	.pros p {
		font-size: 1.8rem;
	}
}

@media (min-width: 768px) {
	.box {
		flex-flow: row wrap;
	}
}
@media (min-width: 1200px) {
	.box {
		gap: 5rem;
	}
}
@media (min-width: 1400px) {
	.box {
		gap: 10rem;
	}
}
