@use '../../../src/styles/queries.scss' as *;
.options {
	margin: 2em 0;
	list-style-type: none;
	display: flex;
	gap: 3rem;
	font-size: 1.2rem;
	cursor: pointer;
	color: #fff;

	li {
		position: relative;
		padding: 0.4em;
		font-size: 1.4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: color 0.3s;
		&:hover {
			color: var(--main-cta);
		}
		svg {
			position: absolute;
			font-size: 7rem;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			opacity: 0.3;
		}
	}
}
.active {
	color: var(--main-cta);
}
.indicator {
	position: absolute;
}
@media (min-width: $xs) {
	.options {
		li {
			font-size: 1.6rem;
		}
	}
}

@media (min-width: $s) {
	.options {
		li {
			font-size: 2rem;
		}
	}
}
@media (min-width: $m) {
	.options {
		li {
			font-size: 2.4rem;
		}
	}
}
@media (min-width: $l) {
	.options {
		li {
			font-size: 2.8rem;
		}
	}
}
