.options {
	margin: 2em 0;
	list-style-type: none;
	display: flex;
	gap: 3rem;
	font-size: 1.2rem;
	cursor: pointer;
	color: var(--text-color);

}
.options li {
	position: relative;
	padding: 0.4em;
	font-size: 1.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: color 0.3s;

}
.options li:hover {
	color: var(--main-cta);
}
.options li svg {
	position: absolute;
	font-size: 7rem;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.3;
}
.indicator {
	position: absolute;
	top: 50%;
}
.active {
	color: var(--main-cta);
}
@media (min-width: 400px) {
	.options li {
		font-size: 1.6rem;
	}
}

@media (min-width: 576px) {
	.options li {
		font-size: 2rem;
	}
}
@media (min-width: 768px) {
	.options li {
		font-size: 2.4rem;
	}
}
@media (min-width: 992px) {
	.options li {
		font-size: 2.8rem;
	}
}
