.questions {
	position: relative;
	background-color: var(--main-color-lighter);
	background-image: url('/assets/heroBg.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
	overflow: hidden;
}
.shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: -1;
}
.box {
	padding: 1em;
	margin: 2em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 4rem;
	h1 {
		color: #fff;
		font-size: 5rem;
	}
}

.blockTop {
	top: 0;
	right: -30%;
	background-color: var(--main-color);
}
.blockBottom {
	bottom: 0;
	left: -30%;
	background-color: var(--main-color);
}

@media (min-width: 992px) {
	.apiText {
		top: -4rem !important;
	}
}
