.timeline {
	position: relative;
	width: 95%;
	max-width: 800px;
	margin-top: 10rem;	z-index: 4;

}
.timeline::before {
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	content: '';
	width: 2px;
	height: 100%;
	background-color: var(--text-color);
}
.timeline ul {
	list-style-type: none;
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	margin: 0 2em;
}
.timeline li {
	position: relative;
	font-size: 1.1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	margin-bottom: 3em;
	padding: 1em;
	width: 50%;
	text-align: center;
	border: 2px solid var(--nav-link);
	border-radius: 10px;
	background-color: var(--roadmap-stop);
	cursor: pointer;
	transition: border-color 0.3s, color 0.3s;
}
.timeline li:hover {
	border-color: var(--main-cta);
	color: var(--main-cta);
}
.timeline li::after {
	position: absolute;
	content: '';
	top: calc(50% - 10px);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--text-color);
}
.timeline li:nth-child(even) {
	align-self: flex-end;
	transform: translateX(20px);
}
.timeline li:nth-child(even)::after {
	left: -31px;
}
.timeline li:nth-child(odd) {
	transform: translateX(-20px);
}
.timeline li:nth-child(odd):after {
	right: -31px;
}

@media (min-width: 400px) {
	.timeline li {
		font-size: 1.4rem;
	}
	.icons svg {
		width: 20px;
		height: 20px;
	}
}
@media (min-width: 576px) {
	.timeline li {
		font-size: 1.8rem;
	}
}
@media (min-width: 992px) {
	.timeline li {
		font-size: 2rem;
	}
}
@media (min-width: 1200px) {
	.timeline li {
		font-size: 2.4rem;
	}
}
