.mail {
	top: 10%;
	left: 0;
	width: 80px;
	height: 80px;
	opacity: 0.6;
}
.msg {
	bottom: 10%;
	right: 2%;
	width: 100px;
	height: 100px;
	opacity: 0.6;
}
.msgShadow {
	top: 13%;
	left: 5%;
	width: 80px;
	height: 80px;
	opacity: 0.1;
}
.mailShadow {
	bottom: 7%;
	right: -3%;
	width: 100px;
	height: 100px;
	opacity: 0.1;
}

@media (min-width: 768px) {
	.mail {
		top: 10%;
		left: 15%;
		width: 120px;
		height: 120px;
		opacity: 0.6;
	}
	.msg {
		bottom: 20%;
		right: 15%;
		width: 150px;
		height: 150px;
		opacity: 0.6;
	}
	.msgShadow {
		top: 10%;
		left: 15%;
		width: 120px;
		height: 120px;
		opacity: 0.1;
	}
	.mailShadow {
		bottom: 20%;
		right: 15%;
		width: 150px;
		height: 150px;
		opacity: 0.1;
	}
}
