.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 10vh;
	width: 100%;
	z-index: 10;
	background: transparent;

	color: var(--main-white);
	transition: background-color 0.4s;
}
.headerScrolled {
	background-color: var(--main-color-darker);
}
.header a {
	color: var(--main-white);
}
.logo a {
	font-size: 2.5rem;
	padding: 0 0.5em;
	font-weight: bold;
	color: var(--nav-link);
}
.logo a {
	transition: color 0.3s;
}
.logo:hover a {
	color: var(--main-cta);
}


@media (max-width: 768px) {
	.header {
		padding: 0;
	}
}
@media (min-width: 576px) {
	.logo {
		font-size: 3rem;
	}
}
@media (min-width: 992px) {
	.logo {
		font-size: 3.5rem;
	}
}
@media (min-width: 1200px) {
	.header {
		padding: 0 5%;
	}
}
@media (min-width: 1400px) {
	.header {
		padding: 0 10%;
	}
	.logo {
		font-size: 4rem;
	}
	.list li {
		font-size: 2.4rem;
	}
}
