.hamburger {
	display: none;
	color: var(--nav-link);
}
.nav {
	display: flex;
	justify-content: center;
	align-items: center;
}
.navigation {
	margin-right: 2rem;
}

.list {
	display: flex;
	gap: 1em;
	list-style: none;
	margin-right: 20%;
}
.list li {
	position: relative;
	font-size: 1.8rem;
	padding: 0.1em 0.5em;
	white-space: nowrap;
	z-index: 0;
	transition: color 1s;
	border-radius: 20px;
	padding: 0.3em 0.5em;
	transition: background-color 0.3s;
}
.list li a {
	color: var(--nav-link);
}
.list li.activeLink a {
	color: var(--main-cta);
}
.list li:hover {
	background-color: var(--nav-link-hover);
}

.icons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.1em;
}
@media (min-width: 400px) {
	.icons {
		padding: 0 2em;
		gap: 1em;
	}
}
@media (max-width: 768px) {
	.hamburger {
		display: block;
	}

	.navigation {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 90vh;
		margin-top: 10vh;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		background-color: var(--main-color);
		transition: transform 0.5s ease-in-out;
		transform: translateX(110%);
		z-index: 11;
	}
	.active {
		transform: translateX(0);
	}
	.list {
		list-style-type: none;
		flex-direction: column;

		margin: 2rem auto 0 auto;
		text-align: center;
	}
	.list li {
		font-size: 4rem;
		padding: 0.5em 1em;
	}
}

@media (min-width: 1200px) {
	.list li {
		font-size: 2.2rem;
	}
}
@media (min-width: 1400px) {
	.list li {
		font-size: 2.4rem;
	}
}
